In [1]:
import pandas as pd

In [3]:
#Read in select csvs
arrestee = pd.read_csv("NIBRS_ARRESTEE.csv")
incident = pd.read_csv("NIBRS_incident.csv")
offense = pd.read_csv("NIBRS_OFFENSE.csv")
vict = pd.read_csv("NIBRS_VICTIM.csv")
agency = pd.read_csv("agencies.csv")
offense_type = pd.read_csv("NIBRS_OFFENSE_TYPE.csv")

C:\Users\becky\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#Remove extra columns in each dataframe

arrestee_df = arrestee.drop(['DATA_YEAR','ARRESTEE_SEQ_NUM','AGE_ID','RESIDENT_CODE','UNDER_18_DISPOSITION_CODE',
                                 'CLEARANCE_IND','AGE_RANGE_LOW_NUM','AGE_RANGE_HIGH_NUM'],axis=1)
incident_df = incident.drop(['DATA_YEAR','NIBRS_MONTH_ID','CARGO_THEFT_FLAG','SUBMISSION_DATE',
                             'REPORT_DATE_FLAG','INCIDENT_STATUS','DATA_HOME',
                             'CLEARED_EXCEPT_DATE','ORIG_FORMAT','DID'],axis=1)
vict_df = vict.drop(['DATA_YEAR','ASSIGNMENT_TYPE_ID', 'ACTIVITY_TYPE_ID','OUTSIDE_AGENCY_ID',
                     'AGE_ID','RESIDENT_STATUS_CODE','AGE_RANGE_LOW_NUM','AGE_RANGE_HIGH_NUM'],axis=1)
agency_df = agency[["AGENCY_ID","DATA_YEAR","UCR_AGENCY_NAME","STATE_ID","AGENCY_TYPE_NAME",
                    "POPULATION","SUBURBAN_AREA_FLAG","POPULATION_GROUP_CODE","MALE_OFFICER",
                    "FEMALE_OFFICER","COUNTY_NAME"]]
offense_df = offense.drop(['DATA_YEAR','ATTEMPT_COMPLETE_FLAG','NUM_PREMISES_ENTERED','METHOD_ENTRY_CODE'],axis=1)

In [8]:
#Remove records with NaN values
df_lst = [arrestee_df,incident_df,offense_df,vict_df]
for i in df_lst:
    i.dropna(inplace=True)

In [14]:
#Merge dataframes
df_1 = pd.merge(incident_df,arrestee_df, on="INCIDENT_ID")
df_2 = pd.merge(df_1,vict_df,on="INCIDENT_ID")
df_3 = pd.merge(df_2,offense_df,on="INCIDENT_ID")
df_4 = pd.merge(df_3,agency_df,on="AGENCY_ID")
df_4.head()

,AGENCY_ID,INCIDENT_ID,INCIDENT_DATE,INCIDENT_HOUR,CLEARED_EXCEPT_ID,ARRESTEE_ID,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID_x,...,DATA_YEAR,UCR_AGENCY_NAME,STATE_ID,AGENCY_TYPE_NAME,POPULATION,SUBURBAN_AREA_FLAG,POPULATION_GROUP_CODE,MALE_OFFICER,FEMALE_OFFICER,COUNTY_NAME
0,29534,123552261,5-Mar-20,16.0,6,38226638,05-MAR-20,2,N,51,...,2020,ISD: NORTHSIDE,48,Other,0,Y,7,83.0,15.0,BEXAR
1,29534,120586453,6-Jan-20,14.0,6,36859961,06-JAN-20,2,N,51,...,2020,ISD: NORTHSIDE,48,Other,0,Y,7,83.0,15.0,BEXAR
2,29534,123548843,6-Mar-20,19.0,6,38226658,06-MAR-20,2,N,51,...,2020,ISD: NORTHSIDE,48,Other,0,Y,7,83.0,15.0,BEXAR
3,29534,120591633,21-Jan-20,14.0,6,36860069,21-JAN-20,2,N,51,...,2020,ISD: NORTHSIDE,48,Other,0,Y,7,83.0,15.0,BEXAR
4,29534,120591520,13-Jan-20,10.0,6,36855311,13-JAN-20,1,N,51,...,2020,ISD: NORTHSIDE,48,Other,0,Y,7,83.0,15.0,BEXAR

In [15]:
df_4.count()

AGENCY_ID                151063
INCIDENT_ID              151063
INCIDENT_DATE            151063
INCIDENT_HOUR            151063
CLEARED_EXCEPT_ID        151063
ARRESTEE_ID              151063
ARREST_DATE              151063
ARREST_TYPE_ID           151063
MULTIPLE_INDICATOR       151063
OFFENSE_TYPE_ID_x        151063
AGE_NUM_x                151063
SEX_CODE_x               151063
RACE_ID_x                151063
ETHNICITY_ID_x           151063
VICTIM_ID                151063
VICTIM_SEQ_NUM           151063
VICTIM_TYPE_ID           151063
AGE_NUM_y                151063
SEX_CODE_y               151063
RACE_ID_y                151063
ETHNICITY_ID_y           151063
OFFENSE_ID               151063
OFFENSE_TYPE_ID_y        151063
LOCATION_ID              151063
DATA_YEAR                151063
UCR_AGENCY_NAME          151063
STATE_ID                 151063
AGENCY_TYPE_NAME         151063
POPULATION               151063
SUBURBAN_AREA_FLAG       151063
POPULATION_GROUP_CODE    151063
MALE_OFFICER             149331
FEMALE_OFFICER           149331
COUNTY_NAME              151062
dtype: int64

In [16]:
Homicide_df = df_4[(df_4["OFFENSE_TYPE_ID_x"].isin([1,32,38]))]
Homicide_df.count()

AGENCY_ID                1197
INCIDENT_ID              1197
INCIDENT_DATE            1197
INCIDENT_HOUR            1197
CLEARED_EXCEPT_ID        1197
ARRESTEE_ID              1197
ARREST_DATE              1197
ARREST_TYPE_ID           1197
MULTIPLE_INDICATOR       1197
OFFENSE_TYPE_ID_x        1197
AGE_NUM_x                1197
SEX_CODE_x               1197
RACE_ID_x                1197
ETHNICITY_ID_x           1197
VICTIM_ID                1197
VICTIM_SEQ_NUM           1197
VICTIM_TYPE_ID           1197
AGE_NUM_y                1197
SEX_CODE_y               1197
RACE_ID_y                1197
ETHNICITY_ID_y           1197
OFFENSE_ID               1197
OFFENSE_TYPE_ID_y        1197
LOCATION_ID              1197
DATA_YEAR                1197
UCR_AGENCY_NAME          1197
STATE_ID                 1197
AGENCY_TYPE_NAME         1197
POPULATION               1197
SUBURBAN_AREA_FLAG       1197
POPULATION_GROUP_CODE    1197
MALE_OFFICER             1185
FEMALE_OFFICER           1185
COUNTY_NAME              1197
dtype: int64

In [17]:
Assault_df = df_4[(df_4["OFFENSE_TYPE_ID_x"].isin([27,44,51]))]
Assault_df.count()

AGENCY_ID                89262
INCIDENT_ID              89262
INCIDENT_DATE            89262
INCIDENT_HOUR            89262
CLEARED_EXCEPT_ID        89262
ARRESTEE_ID              89262
ARREST_DATE              89262
ARREST_TYPE_ID           89262
MULTIPLE_INDICATOR       89262
OFFENSE_TYPE_ID_x        89262
AGE_NUM_x                89262
SEX_CODE_x               89262
RACE_ID_x                89262
ETHNICITY_ID_x           89262
VICTIM_ID                89262
VICTIM_SEQ_NUM           89262
VICTIM_TYPE_ID           89262
AGE_NUM_y                89262
SEX_CODE_y               89262
RACE_ID_y                89262
ETHNICITY_ID_y           89262
OFFENSE_ID               89262
OFFENSE_TYPE_ID_y        89262
LOCATION_ID              89262
DATA_YEAR                89262
UCR_AGENCY_NAME          89262
STATE_ID                 89262
AGENCY_TYPE_NAME         89262
POPULATION               89262
SUBURBAN_AREA_FLAG       89262
POPULATION_GROUP_CODE    89262
MALE_OFFICER             88386
FEMALE_OFFICER           88386
COUNTY_NAME              89261
dtype: int64

In [18]:
HumanTraffick_df = df_4[(df_4["OFFENSE_TYPE_ID_x"].isin([59,60]))]
HumanTraffick_df.count()

AGENCY_ID                47
INCIDENT_ID              47
INCIDENT_DATE            47
INCIDENT_HOUR            47
CLEARED_EXCEPT_ID        47
ARRESTEE_ID              47
ARREST_DATE              47
ARREST_TYPE_ID           47
MULTIPLE_INDICATOR       47
OFFENSE_TYPE_ID_x        47
AGE_NUM_x                47
SEX_CODE_x               47
RACE_ID_x                47
ETHNICITY_ID_x           47
VICTIM_ID                47
VICTIM_SEQ_NUM           47
VICTIM_TYPE_ID           47
AGE_NUM_y                47
SEX_CODE_y               47
RACE_ID_y                47
ETHNICITY_ID_y           47
OFFENSE_ID               47
OFFENSE_TYPE_ID_y        47
LOCATION_ID              47
DATA_YEAR                47
UCR_AGENCY_NAME          47
STATE_ID                 47
AGENCY_TYPE_NAME         47
POPULATION               47
SUBURBAN_AREA_FLAG       47
POPULATION_GROUP_CODE    47
MALE_OFFICER             39
FEMALE_OFFICER           39
COUNTY_NAME              47
dtype: int64

In [19]:
Kidnapp_df = df_4[(df_4["OFFENSE_TYPE_ID_x"].isin([29]))]
Kidnapp_df.count()

AGENCY_ID                783
INCIDENT_ID              783
INCIDENT_DATE            783
INCIDENT_HOUR            783
CLEARED_EXCEPT_ID        783
ARRESTEE_ID              783
ARREST_DATE              783
ARREST_TYPE_ID           783
MULTIPLE_INDICATOR       783
OFFENSE_TYPE_ID_x        783
AGE_NUM_x                783
SEX_CODE_x               783
RACE_ID_x                783
ETHNICITY_ID_x           783
VICTIM_ID                783
VICTIM_SEQ_NUM           783
VICTIM_TYPE_ID           783
AGE_NUM_y                783
SEX_CODE_y               783
RACE_ID_y                783
ETHNICITY_ID_y           783
OFFENSE_ID               783
OFFENSE_TYPE_ID_y        783
LOCATION_ID              783
DATA_YEAR                783
UCR_AGENCY_NAME          783
STATE_ID                 783
AGENCY_TYPE_NAME         783
POPULATION               783
SUBURBAN_AREA_FLAG       783
POPULATION_GROUP_CODE    783
MALE_OFFICER             782
FEMALE_OFFICER           782
COUNTY_NAME              783
dtype: int64

In [20]:
SexOffense_df = df_4[(df_4["OFFENSE_TYPE_ID_x"].isin([33,4,36,43,56,3,55]))]
SexOffense_df.count()

AGENCY_ID                1419
INCIDENT_ID              1419
INCIDENT_DATE            1419
INCIDENT_HOUR            1419
CLEARED_EXCEPT_ID        1419
ARRESTEE_ID              1419
ARREST_DATE              1419
ARREST_TYPE_ID           1419
MULTIPLE_INDICATOR       1419
OFFENSE_TYPE_ID_x        1419
AGE_NUM_x                1419
SEX_CODE_x               1419
RACE_ID_x                1419
ETHNICITY_ID_x           1419
VICTIM_ID                1419
VICTIM_SEQ_NUM           1419
VICTIM_TYPE_ID           1419
AGE_NUM_y                1419
SEX_CODE_y               1419
RACE_ID_y                1419
ETHNICITY_ID_y           1419
OFFENSE_ID               1419
OFFENSE_TYPE_ID_y        1419
LOCATION_ID              1419
DATA_YEAR                1419
UCR_AGENCY_NAME          1419
STATE_ID                 1419
AGENCY_TYPE_NAME         1419
POPULATION               1419
SUBURBAN_AREA_FLAG       1419
POPULATION_GROUP_CODE    1419
MALE_OFFICER             1405
FEMALE_OFFICER           1405
COUNTY_NAME              1419
dtype: int64

In [21]:
#Export offense type dataframes to csv's for addtional data analysis

df_names_lst = ["Homicide_df","Assault_df","HumanTraffick_df","Kidnapp_df","SexOffense_df"]
df_lst = [Homicide_df,Assault_df,HumanTraffick_df,Kidnapp_df,SexOffense_df]

df_zip = zip(df_names_lst,df_lst)
for i in df_zip:
    i[1].to_csv(f"{i[0]}.csv",index=False)